<div class="row">
    <div class="col-md-4 col-md-offset-4">
         {{# if hasErrors }} 
            <div class="alert alert-danger" role="danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
                
            </div>
       {{/if}}
    </div>
</div>
      	<div class="wrapper">
			<div class="inner">
				<form action="/contact/contactus" method="post">
					<h3 style="text-align: center;">Contact Us</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="fname">Full name</label>
                              <input type="text" id="yourname" class="form-control" name="name" required='required'>
						</div>
						
					</div>
					<div class="form-wrapper">
						<label for="email">E-Mail</label>
                         <input type="text" id="email" class="form-control" name="email" required='required'>
					</div><br>
					<div class="form-wrapper">
						<label for="subject">Subject</label>
                         <input type="subject" id="subject" class="form-control" name="subject" required='required'>
					</div><br>
                    <div class="form-wrapper">
						<label for="Message">Message</label>
                        <textarea  id="Message" class="form-control" name="message" required='required'></textarea>
					</div><br>
					
                    <input type="submit" class="btn-st rd-30" name="send" value="Send"/>
				</form>
			</div>
		</div>
</div>