 <form action="/admin/addcategory" method="POST" >
    <table style="margin-left: 550px;">
        <tr>
        <th>Category Name : </th>
        <td> <input class="form-control" type="text" name="categoryName" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
        <td>
	    	<button type="submit" class="btn-st rd-30" name="save">Save</button>
			<button type="submit" class="btn-st rd-30" name="cancel">cancel</button>
        </td>
        </tr>
    </table>
 </form>



{{!-- <form method="POST" action="/admin/getdata">
{{#if updateprodDetails}}
    <input type="hidden" name="prodid" value="{{ updateprodDetails._id }}">
    <input type="text" name="name" value="{{ updateprodDetails.productName }}">
    <input type="submit" name="submit">
{{/if}}
</form> --}}