<footer style="margin-top: 100px;">
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="subs-form wow animated fadeInDown" data-wow-duration="1.5s">
                                <form>
                                    <input type="email" placeholder="Enter Your Email">
                                    <button type="submit">Subscribe <i class="fa fa-send"></i></button>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="footer-content">
                                <div class="logo-foo">
                                    <a href="/"><img src="/images/logo/logo2.png" alt=""/></a>
                                </div>
                                <p>This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>
                                <ul class="list-inline foo-social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                                <ul class="list-inline foo-con-info">
                                    <li><i class="fa fa-home"></i><span>Uk Street, Green Home City, London.</span></li>
                                    <li><i class="fa fa-envelope"></i><span>info@yourtheme.com</span></li>
                                    <li><i class="fa fa-phone"></i><span>+910-73602 : +924-15588</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="copyright">
                                <p>Webstrot © 2018 Powered by The Mart. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>