<header>
            <div class="topbar">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 hidden-sm hidden-xs">
                            <div class="top-l-social">
                                <ul class="list-inline">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-skype"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="top-linked text-right">
                                <ul class="list-inline">
                                    
                                    {{#if login}}
                                    <li><a href="/user/profile"><i class="fa fa-user-circle"></i><span>Profile</span></a></li>
                                    <li><a href="/user/logout"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
                                    {{else}}
                                    <li><a href="/user/signin"><i class="fa fa-unlock-alt"></i><span>Login</span></a></li>
                                    <li><a href="/user/signup"><i class="fa fa-pencil"></i><span>Register</span></a></li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-middel">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-3 col-xs-5">
                            <div class="logo">
                                <a href="/"><img src="/images/logo/logo.png" alt=""/></a>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7 col-sm-9 col-xs-7">
                            <div class="cart-btn text-right">
								<span class="shop_contact_no"><i class="fa fa-phone"></i> +91 9033582481  </span>
                                {{#if currentUser.isAdmin}}
                                {{else}}
                                <a href="/shopping-cart/" class="cart-btns" title="cart">
                                    <strong>shopping cart</strong>  
                                    <span class="icon badge"><i class="fa fa-shopping-cart">{{session.cart.totalQty}}</i></span>
                                    
                                </a>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="menu-list">
                                <nav>
                                    <ul class="list-inline">
                                        <li class="lists-menus">
                                            <a href="/">Home</a>
                                           
                                        </li>
                                         <li class="lists-menus">
                                            <a href="/gallery">Gallery</a>
                                           
                                        </li>
                                     
                                        {{#if currentUser.isAdmin}}
                                            <li><a href="/admin/product">SHOP</a></li>

                                        {{else}}
                                             <li><a href="/shop">SHOP</a></li>

                                        {{/if}}
                                        <li><a href="/contact/contactus">CONTACT</a></li>
                                        <li><a href="/aboutus">ABOUT US</a></li>
                                        {{#if currentUser.isAdmin}}

                                        <li>
                                            <a href="javascript:void(0)">Others</a>
                                            <div class="megamenu">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pd-0">
                                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                                <div class="links">
                                                                    <h4>Product</h4>
                                                                    <ul>
                                                                        <li><a href="/admin/addproduct">Add Product</a></li>
                                                                        <li><a href="/admin/product">View Products</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                                                                <div class="links">
                                                                    <h4>Category</h4>
                                                                    <ul>
                                                                        <li><a href="/admin/addcategory">Add Category</a></li>
                                                                        <li><a href="/admin/discount">Add Discount</a></li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li><a href="/admin/reports">Reports</a></li>

                                        {{/if}}
                                      

                                    </ul>
                                </nav>
                            </div>
                        
                        </div>
                    </div>
                </div>
             
            </div>
            <!--Offset wrapper start here-->
       
            <!--Offset wrapper end here-->
        </header>
