 <form action="/changepassword" method="POST" >
    <table style="margin-left: 550px;">
                            
        <tr>
            <th>Current password : </th>
            <td> <input class="form-control" type="password" name="curPass" required="required" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <th>New password : </th>
            <td> <input class="form-control" type="password" name="newPass" required="required" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>
         <tr>
            <th>Confirm password : </th>
            <td> <input class="form-control" type="password" name="confPass" required="required" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>

        <tr>
            <td>
			    <input type="submit" class="btn-st rd-30" name="btnchangepass" value="Change password">
			    <input type="submit" class="btn-st rd-30" name="btncancel" value="Cancel" formnovalidate>
            </td>
        </tr>
    </table>
  </form>
   