 <form action="/newpassword" method="POST" >
    <table style="margin-left: 550px;">
                            
        <tr>
            <th>New password : </th>
            <td> <input class="form-control" type="text" name="newpass" required="required" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <th>Confirm password : </th>
            <td> <input class="form-control" type="text" name="confirmpassword" required="required" placeholder=""></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td>
			    <input type="submit" class="btn-st rd-30" name="changepass" value="Change password">
			    <input type="submit" class="btn-st rd-30" name="cancel" value="Cancel">
            </td>
        </tr>
    </table>
  </form>