
<div class="wrapper">
	<div class="inner">    
        {{#if errMsg}}
            <div class="alert-danger">
                <p>{{errMsg}}</p>
            </div>
        {{/if}}
        <form action="/user/forgotPassword" method="POST">
        <br><br>
            <label for="name">New Password</label>
            <input type="password" placeholder="Enter Password" name="password"  class="form-control">

             <label for="name">Confirm Password</label>
            <input type="password" placeholder="Enter Password" name="confirmpass"  class="form-control"><br><br>

            <input type="hidden" name="randID" value="{{id}}">
             <input type="hidden" name="_csrf" value="{{ csrfToken }}">

            <input type="submit" value="Change Password">
        </form>
    </div>
</div>

			