<div class="row">
    <div class="col-md-4 col-md-offset-4">
         {{# if hasErrors }} 
            <div class="alert alert-danger" role="danger">
                {{# each messages}}
                    <p>{{ this }}</p>
                {{/each}}
                
            </div>
       {{/if}}
    </div>
</div>
      	<div class="wrapper">
			<div class="inner">
				<form action="/user/signup" method="post">
					<h3 style="text-align: center;">Registration Form</h3>
					<div class="form-group">
						<div class="form-wrapper">
							<label for="fname">First name</label>
                              <input type="text" id="fname" title="First Name" class="form-control" name="fname" required='required'>
						</div>
						<div class="form-wrapper">
							<label for="lname">Last name</label>
                              <input type="text" id="lname" class="form-control" name="lname" required='required'>
						</div>
					</div>
					<div class="form-wrapper">
						<label for="email">E-Mail</label>
                         <input type="text" id="email" class="form-control" name="email" required='required'>
					</div>
					<div class="form-wrapper">
						<label for="password">Password</label>
                         <input type="password" id="password" class="form-control" name="password" required='required'>
					</div>
					
					<div class="checkbox">
						<label>
							<input type="checkbox"> I accept the Terms of Use & Privacy Policy.
							<span class="checkmark"></span>
						</label>
					</div>
					{{#if isAdmin}}
						<input type="hidden" name="isAdmin" value="true">
					{{/if}}
                     <button type="submit" class="btn-st rd-30" name="signup">Sign Up</button>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
				</form>
			</div>
		</div>
		
</div>